/* Navbar Customization */
.navbar_logo{
    width: 150px;
}
.navbar_section, .navbar_bg{
    background-color: wheat;
}

/* btn-success override */
.btn-success {
    color: #fff;
    background-color: #E76F51;
    border-color: #E76F51;
}
.btn-success:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}
.btn-outline-success {
    color: #E76F51;
    border-color: #E76F51;
}
.btn-outline-success:hover{
    color: #fff;
    background-color: #E76F51;
    border-color: #E76F51;
}

/* Banner section customization */
.bg-banner {
    background-color: #264653;
}
.banner-left-section, banner-left-section button {
    font-size: 1.2rem;
}
.banner-right-section img{
    width: 100%;
    height: 100%;
}

/* Featured Bikes customization */
.featured-bikes img{
    width: 80%;
    height: 80%;
}
/* gray filter  */
.gray-bike img{
    filter: grayscale(100%);
}

/* News card customization */
.news-card{
    border: 0;
    border-radius: 2%;
}
.news-card img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

/* User image customization */
.user-card img{
    height: 60%;
    width: 60%;
    border-radius: 50%;
}
.user-card a{
    text-decoration: none;
}

/* Icon color customization */
.far, .fas{
    color: gold;
}







.cart-logo{
    width: 30px;
}
.peng_cover_img{
    width: 400px;
}

.news-card-bie{
    height: 450px;
    background-color: #fceae8;
    border-radius: 5%;
}

.peng_service img{
    width: 100px;
}
.peng_service_box{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5%;
    background-color:#fceae8 ;
}
.peng_service_cover_img{
    margin-top: 20px;
    width: 600px;
    height: 350px;
}

