/* Navbar Customization */
.navbar_logo{
    width: 150px;
}
.navbar_section, .navbar_bg{
    background-color: wheat;
}

/* btn-success override */
.btn-success {
    color: #fff;
    background-color: #E76F51;
    border-color: #E76F51;
}
.btn-success:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

/* Banner section customization */
.bg-banner {
    background-color: #264653;
}
.banner-left-section, banner-left-section button {
    font-size: 1.2rem;
}
.banner-right-section img{
    width: 100%;
    height: 100%;
}



.cart-logo{
    width: 30px;
}
.peng_cover_img{
    width: 400px;
}

.w_img{
    height: 450px;
    background-color: #fceae8;
    border-radius: 5%;
}
.peng_card{
    border: 0;
    border-radius: 10%;
}
.peng_service img{
    width: 100px;
}
.peng_service_box{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5%;
    background-color:#fceae8 ;
}
.peng_service_cover_img{
    margin-top: 20px;
    width: 600px;
    height: 350px;
}

