/* Navbar Customization */
.navbar_logo{
    width: 150px;
}
.navbar_section, .navbar_bg{
    background-color: wheat;
}

/* btn-success override */
.btn-orange {
    color: #fff;
    background-color: #E76F51;
    border-color: #E76F51;
}
.btn-orange:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}
.btn-outline-orange {
    color: #E76F51;
    border-color: #E76F51;
}
.btn-outline-orange:hover{
    color: #fff;
    background-color: #E76F51;
    border-color: #E76F51;
}

/* Banner section customization */
.bg-banner {
    background-color: #264653;
}
.banner-left-section, banner-left-section button {
    font-size: 1.2rem;
}
.banner-right-section img{
    width: 100%;
    height: 100%;
}

/* Featured Bikes customization */
.featured-bikes img{
    width: 80%;
    height: 80%;
}
/* gray filter  */
.gray-bike img{
    filter: grayscale(100%);
}

/* News card customization */
.news-card{
    border: 0;
    border-radius: 2%;
}
.news-card img, .accessories-image img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

/* User image customization */
.user-card img{
    height: 60%;
    width: 60%;
    border-radius: 50%;
}
.user-card a{
    text-decoration: none;
}

/* Icon color customization */
.far, .fas{
    color: gold;
}

.faq-image img{
    width: 80%;
    height: 80%;
}

/* Double color text */
.orange-text{
    color: orangered;
}

/* Override Form Control */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: wheat;
    background-clip: padding-box;
    border: 3px solid orangered;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Footer logo customization */
.footer-logo img{
      width: 30%;
      height:30%;
}
